
.center_aligned {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.school_img {
    width: 75%;
}

.bar {
    width: 80%;
    border: 2px solid white;
}

.info_text {
    margin: 5px;
}

/* .right_content {
    margin-top: 40px;
} */

.percentile_box {
    display: flex;
    flex-direction: row;
}

.percentile_box_left {
    flex: 2;
    width: 40%;
    border-right: 1px solid white;
}

.percentile_hook {
    font-size: 1rem;
    font-weight: bold;
}

.percentile_box_right {
    flex: 3;
    width: 60%;
    min-height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.percentile_text {
    font-size: 1rem;
    font-weight: bolder;
    margin-top: 10px;
}